/* ====================================
// css variables
// ==================================== */

:root {
  --beige: #ebead2;
  --grey: #979797;
  --white: #fff;
  --black: #000;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

/* mon code */
.section-1 {
  background-color: red;
  display: flex;
  flex-direction: row;
  padding: 12px;
}

.section-1 .box {
  width: calc(50%);
}

.section-2 {
  background-color: lightsteelblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 12px;
}

.section-2 .box {
  width: calc(50% - 5px);
}

.section-3 {
  background-color: lawngreen;
  display: flex;
  flex-direction: row;
  padding: 12px;
  justify-content: space-around;
  justify-content: center;
  gap: 20px;
}

.section-4 {
  background-color: lightsalmon;
  display: flex;
  flex-direction: row;
  padding: 12px;
  flex-wrap: wrap;
  gap: 10px;
}

.section-4 .box {
  width: calc(50% - 5px);
}

.section-5 {
  background-color: lightcoral;
  display: flex;
  flex-direction: row;
  padding: 12px;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.box {
  background: gray;
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  font-weight: bold;
  font-size: 12px;
  border: 2px dotted black;
}

.box-2 {
  background: red;
  height: 110px;
  line-height: 110px;
}

.box-4 {
  background: red;
  height: 120px;
}
/* mon code */
